.images{
  width: 250px;
  height: 80vh;
  display:flex;
  flex-direction: column;
  background-color: black;
  justify-content:space-around;
  align-items: center;
  border: lightgrey;
  border-style: double;
  border-width: 4px;
  margin: 20px;
}

.moreShoes{
  width: 250px;
  height: 40vh;
  display:flex;
  flex-direction: column;
  background-color: black;
  justify-content:space-around;
  align-items: center;
  border: lightgrey;
  border-style: double;
  border-width: 4px;
  margin: 20px;
}

.shoeIcon{
  height: 230px;
  width: 230px;
  border-radius: 50%;
  border: white;
}

.page {
  text-align: center;
  background-image: url(CloudsBackground.jpg);
}
.page-header {
  top: 0;
  bottom: auto;
  height: 70px;
  width: 100vw;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 5vmin);
  color: darkgray;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.restOfPage {
  display: flex;
  height: 100vh;
  flex-direction:row;
  width: 100vw;
  justify-content: center;
}

.restOfPage label{
  background-color: beige;
}
.terms {
  margin-top: 120px
}

.terms p {
  font-size: calc(10px + 1vmin);
}
.textarea {
  background-color: beige; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.taLight{
  overflow-y: scroll;
  width: 800px;
  height: 100px;

}
.taLight div{
  font-style: italic;
}
.taDark{
  overflow-y: scroll;
  width: 800px;
  height: 100px;
  resize:none;
}